{%- liquid
  if settings.cart_show_free_shipping_bar and settings.cart_free_shipping_min_amount != ''
    assign free_shipping_thresholds = settings.cart_free_shipping_min_amount | remove: '' | split: ','
    assign has_found_matching_threshold = false

    if free_shipping_thresholds.size > 1
      for threshold in free_shipping_thresholds
        assign threshold_parts = threshold | split: ':'
        assign currency_code = threshold_parts | first | upcase

        if currency_code == cart.currency.iso_code
          assign free_shipping_calculated_threshold = threshold_parts | last
          assign has_found_matching_threshold = true
          break
        endif
      endfor
    else
      assign free_shipping_calculated_threshold = free_shipping_thresholds | last
      assign has_found_matching_threshold = true
    endif

    assign threshold_in_cents = free_shipping_calculated_threshold | times: 100
  endif
-%}

<loess-cart-drawer-items class='{% if cart == empty %}is-empty{% endif %}'>
  <div class='cart-empty'>
    <div class='rich-text-wrapper container'>
      <div class='rich-text'>
        <p>{{ 'sections.cart.cart_empty' | t }}</p>

        <div class='button-group'>
          <button class='button button--primary button--large' close>
            {{ 'sections.cart.continue_shopping' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {%- if has_found_matching_threshold -%}
    <div class='cart-progress cart-progress--drawer'>
      <div id='FreeShippingText'>
        {% render 'free-shipping-text', threshold: free_shipping_calculated_threshold %}
      </div>

      <loess-free-shipping-bar
        class='free-shipping-bar'
        style='--progress: {{ cart.total_price | times: 1.0 | divided_by: threshold_in_cents | at_most: 1 }}'
        threshold='{{ threshold_in_cents }}'
      ></loess-free-shipping-bar>
    </div>
  {%- endif -%}

  {%- form 'cart', cart, id: 'MainCartDrawer', class: 'cart-form' -%}
    <div id='MainCartItems' class='cart cart--drawer'>
      <table class='cart-items'>
        <thead>
          <tr>
            <th class='small-text' colspan='2' scope='col'>{{ 'sections.cart.headings.product' | t }}</th>
            <th class='small-text' colspan='1' scope='col'>{{ 'sections.cart.headings.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {%- for item in cart.items -%}
            <tr class='cart-item' id='CartItem-{{ item.index | plus: 1 }}'>
              <td class='cart-item__media'>
                {%- if item.image != blank -%}
                  <a href='{{ item.url }}' class='cart-item__link' aria-hidden='true' tabindex='-1'> </a>
                  <div class='cart-item__image-container'>
                    {{ item.image | image_url: width: 300 | image_tag: class: 'cart-item__image', loading: 'lazy' }}
                  </div>
                {%- endif -%}
              </td>

              <td class='cart-item__details'>
                {%- if settings.product_show_vendor -%}
                  <p class='small-text'>{{ item.product.vendor }}</p>
                {%- endif -%}

                <a href='{{ item.url }}' class='small-body-text'>
                  {{ item.product.title | escape }}
                </a>

                <div class='small-caption'>
                  {%- if item.original_price != item.final_price -%}
                    <div class='cart-item__discounted-prices'>
                      <span class='sr-only'>{{ 'products.product.price.sale_price' | t }}</span>
                      <span class='cart-item__final-price product-option'>
                        {{ item.final_price | money }}
                      </span>
                      <span class='sr-only'>{{ 'products.product.price.regular_price' | t }}</span>
                      <s class='cart-item__old-price product-option'>
                        {{- item.original_price | money -}}
                      </s>
                    </div>
                  {%- else -%}
                    <div class='product-option'>
                      {{ item.original_price | money }}
                    </div>
                  {%- endif -%}

                  {%- if item.product.has_only_default_variant == false
                    or item.properties.size != 0
                    or item.selling_plan_allocation != null
                  -%}
                    <dl>
                      {%- if item.product.has_only_default_variant == false -%}
                        {%- for option in item.options_with_values -%}
                          <div class='product-option'>
                            <dt>{{ option.name }}:</dt>
                            <dd>{{ option.value }}</dd>
                          </div>
                        {%- endfor -%}
                      {%- endif -%}

                      {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                          <div class='product-option'>
                            <dt>{{ property.first }}:</dt>
                            <dd>
                              {%- if property.last contains '/uploads/' -%}
                                <a href='{{ property.last }}' class='link' target='_blank'>
                                  {{ property.last | split: '/' | last }}
                                </a>
                              {%- else -%}
                                {{ property.last }}
                              {%- endif -%}
                            </dd>
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                    </dl>

                    <p class='product-option'>{{ item.selling_plan_allocation.selling_plan.name }}</p>
                  {%- endif -%}

                  {%- if item.line_level_discount_allocations != blank -%}
                    <ul class='cart-item-discounts small-text' role='list'>
                      {%- for discount_allocation in item.line_level_discount_allocations -%}
                        <li class='cart-item-discounts__item'>
                          {%- render 'icon' with 'discount' -%}
                          {{ discount_allocation.discount_application.title }} (-
                          {{- discount_allocation.amount | money -}}
                          )
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              </td>

              <td class='cart-item__totals small-body-text'>
                <div class='loading-overlay hidden'>
                  <svg class='spinner' viewBox='0 0 24 24'>
                    <circle class="spinner__value" cx="12" cy="12" r="10" />
                  </svg>
                </div>
                <div class='cart-item__price-wrapper'>
                  {%- if item.original_line_price != item.final_line_price -%}
                    <dl class='cart-item__discounted-prices'>
                      <dt class='sr-only'>{{ 'products.product.price.regular_price' | t }}</dt>
                      <dd>
                        <s class='cart-item__old-price price price--end'>
                          {{ item.original_line_price | money }}
                        </s>
                      </dd>
                      <dt class='sr-only'>{{ 'products.product.price.sale_price' | t }}</dt>
                      <dd class='price price--end'>
                        {{ item.final_line_price | money }}
                      </dd>
                    </dl>
                  {%- else -%}
                    <span class='price price--end'>
                      {{ item.original_line_price | money }}
                    </span>
                  {%- endif -%}

                  {%- if item.variant.available and item.unit_price_measurement -%}
                    <div class='price__unit-price small-text'>
                      <span class='sr-only'>
                        {{- 'products.product.price.unit_price' | t: product: item.product.title -}}
                      </span>
                      {{ item.variant.unit_price | money }}
                      <span aria-hidden='true'>/</span>
                      <span class='sr-only'>&nbsp;{{ 'products.product.price.unit_separator' | t }}&nbsp;</span>
                      {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                        {{- item.variant.unit_price_measurement.reference_value -}}
                      {%- endif -%}
                      {{ item.variant.unit_price_measurement.reference_unit }}
                    </div>
                  {%- endif -%}
                </div>
              </td>

              <td class='cart-item__quantity'>
                <div class='cart-item__quantity-wrapper small-caption'>
                  <label class='sr-only' for='Quantity-{{ item.index | plus: 1 }}'>
                    {{ 'sections.cart.headings.quantity' | t }}
                  </label>
                  <loess-quantity-input class='quantity'>
                    <button class='quantity__button' name='minus' type='button'>
                      <span class='sr-only'>
                        {{- 'products.product.quantity.decrease' | t: product: item.product.title -}}
                      </span>
                      {% render 'icon' with 'minus-small' %}
                    </button>
                    <input
                      class='quantity__input'
                      type='number'
                      name='updates[]'
                      value='{{ item.quantity }}'
                      min='0'
                      aria-label='{{ 'products.product.quantity.input_label' | t: product: item.product.title }}'
                      id='Quantity-{{ item.index | plus: 1 }}'
                      data-index='{{ item.index | plus: 1 }}'
                    >
                    <button class='quantity__button' name='plus' type='button'>
                      <span class='sr-only'>
                        {{- 'products.product.quantity.increase' | t: product: item.product.title -}}
                      </span>
                      {% render 'icon' with 'plus-small' %}
                    </button>
                  </loess-quantity-input>

                  <loess-cart-remove-button
                    id='Remove-{{ item.index | plus: 1 }}'
                    class='remove__button small-text'
                    data-index='{{ item.index | plus: 1 }}'
                  >
                    <a
                      href='{{ item.url_to_remove }}'
                      aria-label='{{ 'sections.cart.remove_title' | t: title: item.title }}'
                    >
                      {{ 'sections.cart.remove' | t }}
                    </a>
                  </loess-cart-remove-button>
                </div>
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>
  {%- endform -%}

  {%- if settings.cart_show_product_recommendations -%}
    <loess-cart-recommendations
      class='cart-drawer-recommendations'
      product-id='{{ cart.items.first.product_id }}'
      limit='10'
      intent='related'
    >
      {%- if settings.cart_product_recommendations_heading != blank -%}
        <header class='cart-drawer-recommendations__heading'>
          <h2>{{ settings.cart_product_recommendations_heading | escape }}</h2>
        </header>
      {%- endif -%}

      {% render 'cart-drawer-recommendations' %}
    </loess-cart-recommendations>
  {%- endif -%}
</loess-cart-drawer-items>
