{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div
      id='CartNotificationProduct-{{ item.key }}'
      {% if settings.search_predictive_search_soft_background %}
        class='predictive-search-results__soft-background'
      {% endif %}
    >
      <div class='cart-notification__product'>
        {%- if item.image != blank -%}
          {{
            item.image
            | image_url: width: 150
            | image_tag: is: 'loess-image', reveal: true, class: 'border-radius', loading: 'lazy'
          }}
        {%- endif -%}

        <div class='cart-notification__product-metadata'>
          {%- if settings.product_show_vendor and item.product.vendor != blank -%}
            <span class='small-text'>{{ item.product.vendor }}</span>
          {%- endif -%}
          <span class='small-body-text'>{{ item.product.title }}</span>

          {%- if item.product.has_only_default_variant == false
            or item.properties.size != 0
            or item.selling_plan_allocation != null
          -%}
            <dl class='small-caption'>
              {%- if item.product.has_only_default_variant == false -%}
                {%- for option in item.options_with_values -%}
                  <div class='product-option'>
                    <dt>{{ option.name }}:</dt>
                    <dd>{{ option.value }}</dd>
                  </div>
                {%- endfor -%}
              {%- endif -%}

              {%- for property in item.properties -%}
                {%- assign property_first_char = property.first | slice: 0 -%}
                {%- if property.last != blank and property_first_char != '_' -%}
                  <div class='product-option'>
                    <dt>{{ property.first }}:</dt>
                    <dd>
                      {%- if property.last contains '/uploads/' -%}
                        <a href='{{ property.last }}' class='link' target='_blank'>
                          {{ property.last | split: '/' | last }}
                        </a>
                      {%- else -%}
                        {{ property.last }}
                      {%- endif -%}
                    </dd>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </dl>

            <p class='product-option'>{{ item.selling_plan_allocation.selling_plan.name }}</p>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
