{%- style -%}
  #shopify-section-{{ section.id }} {
    --columns-mobile: {{ section.settings.columns_mobile }};
    --columns-tablet: {{ section.settings.columns_large }};
    --columns-large: {{ section.settings.columns_large }};
    --logo-opacity: {{ section.settings.opacity }}%;
    --scroller-alignment: {% if section.settings.center_content %}center{% else %}start{% endif %};
    --padding-top: {{ section.settings.padding_top }};
    --padding-bottom: {{ section.settings.padding_bottom }};

    {%- if section.settings.custom_colors -%}
      --color-foreground: {{ section.settings.color_foreground.red }}, {{ section.settings.color_foreground.green }}, {{ section.settings.color_foreground.blue }};
      --color-background: {{ section.settings.color_background.red }}, {{ section.settings.color_background.green }}, {{ section.settings.color_background.blue }};
      --color-accent: {{ section.settings.color_accent.red }}, {{ section.settings.color_accent.green }}, {{ section.settings.color_accent.blue }};
      --color-gradient: {% if section.settings.color_gradient != blank %}{{ section.settings.color_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};
    {%- endif -%}
  }
{%- endstyle -%}

{%- liquid
  assign columns_mobile = section.settings.columns_mobile | times: 1
  assign columns_large = section.settings.columns_large | times: 1

  if section.settings.color_scheme == 'default' or section.settings.color_scheme == 'default-with-accent-1'
    if section.settings.layout == 'fixed' and section.settings.custom_colors == false
      assign border = true
    endif
  endif

  if section.settings.container_ratio == 'auto'
    assign largest_image_aspect_ratio = 99

    for block in section.blocks
      if block.settings.image != blank
        assign largest_image_aspect_ratio = largest_image_aspect_ratio | at_most: block.settings.image.aspect_ratio
      endif
    endfor
  endif
-%}

{%- if section.settings.layout != 'full' -%}
  {%- if section.settings.layout == 'fixed-soft' -%}<div class="color-soft-background">{% endif %}
  <div class="section-vertical-spacer container container--capped">
{%- endif -%}

<div class="{% unless border %}block{% endunless %} {% if section.settings.soft_background != 'section' %}section {% if section.settings.custom_colors %}color-custom color-gradient{% else %}color color-{{ section.settings.color_scheme }} color-gradient{% endif %}{% else %}color-soft-background{% endif %} {% if section.settings.layout != 'full' %}border-radius{% endif %}">
  <div class="{% if section.settings.layout == 'full' %}section-vertical-spacer{% else %}vertical-spacer{% endif %} container">
    {%- if section.settings.title != blank or section.settings.text != blank -%}
      <header class="section-heading {% if section.settings.center_content %}section-heading--centered{% endif %}">
        {%- if section.settings.title != blank -%}
          <h2 class="section-heading__heading {{ section.settings.heading_size }}">
            {{ section.settings.title | escape }}
          </h2>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="section-heading__subheading">
            <div class="rte {{ section.settings.text_style }} color-accent">
              {{ section.settings.text }}
            </div>
          </div>
        {%- endif -%}
      </header>
    {%- endif -%}

    <loess-scroller {% if section.settings.slider_mobile %}columns-mobile="{{ section.settings.columns_mobile }}"{% endif %} {% if section.settings.slider_large and section.blocks.size > columns_large %}columns-tablet="{{ columns_large }}" columns-large="{{ columns_large }}{% endif %}">
      <ul class="logo-list columns scroller {% if section.settings.slider_mobile %}scroller-mobile{% endif %} {% if section.settings.slider_large %}scroller-large{% endif %} hide-scrollbar" role="list">
        {%- for block in section.blocks -%}
          <li class="logo {% if section.settings.container_ratio != 'auto' %}logo--{{ section.settings.container_ratio }}{% endif %} block {% if section.settings.soft_background == 'column' %}column-wrapper--soft-background{% elsif section.settings.soft_background == 'section' %}block color-gradient color-gradient--fixed {% if section.settings.custom_colors %}color-custom{% else %}color color-{{ section.settings.color_scheme }}{% endif %}{% endif %}" {% if section.settings.container_ratio == 'auto' and block.settings.image != blank %}style="--aspect-ratio: {{ 1 | divided_by: largest_image_aspect_ratio | times: 100 }}%;"{% endif %} {{ block.shopify_attributes }}>
            {%- if block.settings.link != blank -%}
              <a href="{{ block.settings.link }}" class="logo__link"></a>
            {%- endif -%}

            {%- if block.settings.image != blank -%}
              {%- liquid
                assign sizes_image_large = columns_large | divided_by: 100.0 | times: block.settings.width
                assign sizes_image_mobile = columns_mobile | divided_by: 100.0 | times: block.settings.width
                assign sizes = '(min-width: 751px) calc((100vw - 80px) / ' | append: sizes_image_large | append: '), calc((100vw - 32px) / ' | append: sizes_image_mobile | append: ')'
                assign width = '--width: ' | append: block.settings.width | append: '%'

                echo block.settings.image | image_url: width: 1000 | image_tag: is: 'loess-image', class: 'logo__image', widths: '100, 200, 400, 600, 700, 800, 1000', sizes: sizes, style: width, reveal: true, loading: 'lazy'
              -%}
            {%- else -%}
              <div class="logo__placeholder">
                {{ 'image' | placeholder_svg_tag }}
              </div>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
      <div class="scroller-bar {% if section.settings.slider_mobile == false or section.blocks.size <= columns_mobile %}hide-mobile{% endif %} {% if section.settings.slider_large == false and section.blocks.size <= columns_large %}hide-tablet hide-desktop{% endif %}">
        <loess-scroller-dots class="scroller-dots slider-dots" aria-hidden="true">
          <ol role="list"></ol>
          <template>
            <li></li>
          </template>
        </loess-scroller-dots>

        <loess-scroller-buttons class="scroller-buttons slider-buttons hide-mobile">
          <button class="slider-buttons__previous button button--icon" aria-label="{{ 'general.slider.previous_slide' | t }}" disabled>
            {% render 'icon' with 'arrow-minimal-previous' %}
          </button>
          <button class="slider-buttons__next button button--icon" aria-label="{{ 'general.slider.next_slide' | t }}">
            {% render 'icon' with 'arrow-minimal-next' %}
          </button>
        </loess-scroller-buttons>
      </div>
    </loess-scroller>

    {%- if section.settings.button_label != blank -%}
      <div class="section-link-bottom">
        <a href="{{ section.settings.button_link }}" class="button button--primary tap">
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.layout != 'full' -%}
</div>
{%- if section.settings.layout == 'fixed-soft' -%}</div>{% endif %}
{%- endif -%}

{% schema %}
{
  "name": "Logo list",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed width"
        },
        {
          "value": "fixed-soft",
          "label": "Fixed width with soft background"
        },
        {
          "value": "full",
          "label": "Full width"
        }
      ],
      "default": "full"
    },
    {
      "type": "checkbox",
      "id": "slider_large",
      "label": "Enable slider on large screens",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slider_mobile",
      "label": "Enable slider on mobile",
      "default": true
    },
    {
      "type": "range",
      "id": "columns_large",
      "label": "Number of columns on large screens",
      "min": 3,
      "max": 8,
      "step": 1,
      "default": 5
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "label": "Number of columns on mobile",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "container_ratio",
      "label": "Logo container ratio",
      "options": [
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "auto",
          "label": "Adapt to tallest image"
        }
      ],
      "default": "square"
    },
    {
      "type": "range",
      "id": "opacity",
      "label": "Logos opacity",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding top",
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding bottom",
      "default": 1
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "center_content",
      "label": "Center content",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h2",
          "label": "Medium"
        },
        {
          "value": "h1",
          "label": "Large"
        },
        {
          "value": "h0",
          "label": "Extra large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Text style",
      "options": [
        {
          "value": "small-subtext",
          "label": "Subtext"
        },
        {
          "value": "large-subtext",
          "label": "Large subtext"
        },
        {
          "value": "body-text",
          "label": "Text"
        },
        {
          "value": "large-body-text",
          "label": "Large text"
        }
      ],
      "default": "large-subtext"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "soft_background",
      "label": "Soft background",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "section",
          "label": "As section background"
        },
        {
          "value": "column",
          "label": "As logo background"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "default-with-accent-1",
          "label": "Default with accent 1"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        },
        {
          "value": "inverse-with-accent-2",
          "label": "Inverse with accent 2"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "default-with-accent-1",
      "info": "It is recommended to choose a color scheme that provides good contrast with the logos. Learn more about [color schemes](https://loess.ticksy.com/article/18637/)"
    },
    {
      "type": "checkbox",
      "id": "custom_colors",
      "label": "Override with custom colors",
      "default": false
    },
    {
      "type": "color",
      "id": "color_foreground",
      "label": "Custom foreground color",
      "default": "#061C2F",
      "info": "Not applicable when “Soft background” is set to “As section background”"
    },
    {
      "type": "color",
      "id": "color_accent",
      "label": "Custom accent color",
      "default": "#0D91BD",
      "info": "Not applicable when “Soft background” is set to “As section background”"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Custom background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "color_gradient",
      "label": "Custom background gradient",
      "info": "Optional. Overrides “Custom background color”."
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo image",
          "info": "Transparent PNG recommended"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Logo width",
          "unit": "%",
          "min": 1,
          "max": 100,
          "step": 1,
          "default": 70
        },
        {
          "type": "url",
          "id": "link",
          "label": "Optional link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
