{%- style -%}
  #shopify-section-{{ section.id }} {
    --enable-social-icons: {% if section.settings.enable_social %}1{% else %}0{% endif %};

    {%- if section.settings.custom_colors -%}
      --color-foreground: {{ section.settings.color_foreground.red }}, {{ section.settings.color_foreground.green }}, {{ section.settings.color_foreground.blue }};
      --color-background: {{ section.settings.color_background.red }}, {{ section.settings.color_background.green }}, {{ section.settings.color_background.blue }};
      --color-accent: {{ section.settings.color_accent.red }}, {{ section.settings.color_accent.green }}, {{ section.settings.color_accent.blue }};
      --color-gradient: {% if section.settings.color_gradient != blank %}{{ section.settings.color_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};
    {%- endif -%}

    {%- comment -%}Extract the values for the text position's x and y axis{%- endcomment -%}
    {%- assign text_axis = section.settings.text_position | split: ' ' -%}
    --text-y-axis: {{ text_axis | first }};
    --text-x-axis: {{ text_axis | last }};

    {%- if section.settings.image != blank -%}
    --overlay-opacity: {{ section.settings.overlay }}%;

      {%- if section.settings.custom_colors == false -%}
        --color-foreground: var(--color-default-background);
        --color-background: var(--color-default-text);
      {%- endif -%}
    {%- endif -%}
  }

  {%- comment -%}Only vertically center section if there aren't any other sections{%- endcomment -%}
  {%- if section.settings.full_screen == false -%}
  #shopify-section-{{ section.id }}:only-child {
    align-self: center;
  }
  {%- endif -%}

  {%- comment -%}Set a min-height assuming full screen is enabled and there are other sections{%- endcomment -%}
  {%- if section.settings.full_screen == true -%}
  #shopify-section-{{ section.id }} {
    height: calc(100vh - calc(var(--header-alternate-height) + var(--footer-password-height)));
    min-height: 520px;
  }

  #shopify-section-{{ section.id }}:not(:only-child) > .main-password {
    min-height: 80vh;
  }
  {%- endif -%}
{%- endstyle -%}

{%- capture text -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        {%- if block.settings.title != blank -%}
          <h2 class='{{ block.settings.size }}'>{{ block.settings.title | escape }}</h2>
        {%- endif -%}
      {%- when 'text' -%}
        {%- if block.settings.text != blank -%}
          <div class='{% if block.settings.style != 'text' %}{{ block.settings.style }}{% endif %} rte'>
            {{ block.settings.text }}
          </div>
        {%- endif -%}
      {%- when 'email-form' -%}
        {% form 'customer', class: 'newsletter-form' %}
          {%- if form.posted_successfully? -%}
            <h3 class='form-message small-text' id='Newsletter-success--{{ section.id }}' tabindex='-1' autofocus>
              {% render 'icon' with 'green-check' %}
              <span>{{ 'sections.password.thank_you' | t }}</span>
            </h3>
          {%- endif -%}
          <div class='input-group'>
            <input
              is='loess-input-field'
              id='NewsletterForm--{{ section.id }}'
              type='email'
              name='contact[email]'
              class='input__field input__field--has-button'
              value='{{ form.email }}'
              aria-required='true'
              autocorrect='off'
              autocapitalize='off'
              autocomplete='email'
              {% if form.errors %}
                autofocus
                aria-invalid='true'
                aria-describedby='Newsletter-error--{{ section.id }}'
              {% elsif form.posted_successfully? %}
                aria-describedby='Newsletter-success--{{ section.id }}'
              {% endif %}
              required
            >

            <label for='NewsletterForm--{{ section.id }}' class='input__label'>
              {{ 'customer.register.email' | t }}
            </label>

            <button
              type='submit'
              class='button button--plain input__button'
              name='commit'
              id='Subscribe'
              aria-label='Subscribe'
            >
              {% render 'icon' with 'arrow-medium' %}
            </button>
          </div>
        {%- endform -%}
      {%- when 'icon' -%}
        <loess-icon
          class='color-accent'
          {% if block.settings.reveal %}
            reveal
          {% endif %}
        >
          {%- render 'icon' with block.settings.icon -%}
        </loess-icon>
    {%- endcase -%}
  {%- endfor -%}

  {%- if shop.password_message != blank -%}
    <p class='small-caption'>
      {{ shop.password_message }}
    </p>
  {%- endif -%}
{%- endcapture -%}

{%- capture text_with_image -%}
  <div class='banner border-radius'>
    <div class='banner__text banner__text--overlay'>
      <div class='rich-text-wrapper container'>
        <div class='rich-text rich-text--large-contained'>
          {{ text }}
        </div>
      </div>
    </div>

    <div class='banner__media'>
      {{
        section.settings.image
        | image_url: width: 1920
        | image_tag:
          widths: '352, 918, 1251, 1498, 1762, 2000, 2220, 2503, 2760, 3000',
          sizes: '(min-width: 751px) 1520px, calc(100vw - 32px)',
          alt: section.settings.image.alt,
          loading: 'eager'
      }}
    </div>

    {%- if section.settings.enable_social -%}
      <div class='main-password__social'>
        {% render 'social-media' %}
      </div>
    {%- endif -%}
  </div>
{%- endcapture -%}

<div class='main-password {% if section.settings.full_screen %}main-password--full-height{% endif %} container'>
  {%- if section.settings.image == blank -%}
    <div class='block {% if section.settings.custom_colors %}color-custom{% else %}color {% if section.settings.color_scheme != 'soft-background' %}color-{{ section.settings.color_scheme }}{% else %}color-default-with-accent-1{% endif %}{% endif %} color-gradient border-radius'>
      <div class='rich-text-wrapper {% if section.settings.color_scheme == 'soft-background' and section.settings.custom_colors == false %}rich-text-wrapper--background{% endif %}'>
        <div class='rich-text rich-text--large-contained container'>
          {{ text }}
        </div>
      </div>
    </div>

    {%- if section.settings.enable_social -%}
      <div class='main-password__social block {% if section.settings.custom_colors %}color-custom{% else %}color color-{{ section.settings.color_scheme }}{% endif %}'>
        {% render 'social-media' %}
      </div>
    {%- endif -%}
  {%- else -%}
    {{ text_with_image }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Password page",
  "class": "shopify-section--main-password",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_screen",
      "label": "Enable full screen",
      "default": true,
      "info": "If disabled, the height of the section is based on its content"
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "label": "Enable social icons",
      "default": false,
      "info": "To display your social media accounts, link them in your theme settings under “Social media”"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start start",
          "label": "Top left"
        },
        {
          "value": "start center",
          "label": "Top center"
        },
        {
          "value": "start end",
          "label": "Top right"
        },
        {
          "value": "center start",
          "label": "Middle left"
        },
        {
          "value": "center center",
          "label": "Middle center"
        },
        {
          "value": "center end",
          "label": "Middle right"
        },
        {
          "value": "end start",
          "label": "Bottom left"
        },
        {
          "value": "end center",
          "label": "Bottom middle"
        },
        {
          "value": "end end",
          "label": "Bottom right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "overlay",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Image overlay",
      "default": 40
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "soft-background",
          "label": "Soft background"
        },
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "default-with-accent-1",
          "label": "Default with accent 1"
        },
        {
          "value": "inverse",
          "label": "Inverse"
        },
        {
          "value": "inverse-with-accent-2",
          "label": "Inverse with accent 2"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "soft-background",
      "info": "Not applicable when an image is displayed. Learn more about [color schemes](https://loess.ticksy.com/article/18637/)"
    },
    {
      "type": "checkbox",
      "id": "custom_colors",
      "label": "Override with custom colors",
      "default": false
    },
    {
      "type": "color",
      "id": "color_foreground",
      "label": "Custom foreground color",
      "default": "#061C2F"
    },
    {
      "type": "color",
      "id": "color_accent",
      "label": "Custom accent color",
      "default": "#0D91BD",
      "info": "Only applicable when “Icon” block is added to section"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Custom background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "color_gradient",
      "label": "Custom background gradient",
      "info": "Optional. Overrides “Custom background color”."
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Opening soon"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Heading size",
          "options": [
            {
              "value": "h3",
              "label": "Small"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h0",
              "label": "Extra large"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Get notified when the store opens.</p>"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Text style",
          "options": [
            {
              "value": "small-subtext",
              "label": "Subtext"
            },
            {
              "value": "large-subtext",
              "label": "Large subtext"
            },
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "large-body-text",
              "label": "Large text"
            }
          ],
          "default": "small-subtext"
        }
      ]
    },
    {
      "type": "email-form",
      "name": "Email form",
      "settings": [
        {
          "type": "paragraph",
          "content": "Subscribers are added automatically to your “accepted marketing” customer list. [Learn more](https://help.shopify.com/en/manual/customers/manage-customers)"
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "icon-24-7",
              "label": "24/7"
            },
            {
              "value": "icon-alert",
              "label": "Alert"
            },
            {
              "value": "icon-bikini",
              "label": "Bikini"
            },
            {
              "value": "icon-box",
              "label": "Box"
            },
            {
              "value": "icon-calendar",
              "label": "Calendar"
            },
            {
              "value": "icon-cash",
              "label": "Cash"
            },
            {
              "value": "icon-coupon",
              "label": "Coupon"
            },
            {
              "value": "icon-credit-card",
              "label": "Credit card"
            },
            {
              "value": "icon-currency-dollar",
              "label": "Currency: Dollar"
            },
            {
              "value": "icon-currency-euro",
              "label": "Currency: Euro"
            },
            {
              "value": "icon-currency-pounds",
              "label": "Currency: Pounds"
            },
            {
              "value": "icon-currency-yen",
              "label": "Currency: Yen"
            },
            {
              "value": "icon-dollar-bill",
              "label": "Dollar bill"
            },
            {
              "value": "icon-email",
              "label": "Email"
            },
            {
              "value": "icon-gift",
              "label": "Gift"
            },
            {
              "value": "icon-globe",
              "label": "Globe"
            },
            {
              "value": "icon-handshake",
              "label": "Handshake"
            },
            {
              "value": "icon-heart",
              "label": "Heart"
            },
            {
              "value": "icon-highheel",
              "label": "Highheel"
            },
            {
              "value": "icon-leaf",
              "label": "Leaf"
            },
            {
              "value": "icon-map-pin",
              "label": "Map pin"
            },
            {
              "value": "icon-megaphone",
              "label": "Megaphone"
            },
            {
              "value": "icon-open-24",
              "label": "Open 24 hours"
            },
            {
              "value": "icon-phone",
              "label": "Phone"
            },
            {
              "value": "icon-piggybank",
              "label": "Piggybank"
            },
            {
              "value": "icon-price-tag",
              "label": "Price tag"
            },
            {
              "value": "icon-promotion",
              "label": "Promotion"
            },
            {
              "value": "icon-recycle",
              "label": "Recycle"
            },
            {
              "value": "icon-returns",
              "label": "Returns"
            },
            {
              "value": "icon-ruler",
              "label": "Ruler"
            },
            {
              "value": "icon-running-shoe",
              "label": "Running shoe"
            },
            {
              "value": "icon-shield",
              "label": "Shield"
            },
            {
              "value": "icon-shirt",
              "label": "Shirt"
            },
            {
              "value": "icon-shopping-cart",
              "label": "Shopping cart"
            },
            {
              "value": "icon-stars",
              "label": "Stars"
            },
            {
              "value": "icon-store",
              "label": "Store"
            },
            {
              "value": "icon-thumbs-up",
              "label": "Thumbs up"
            },
            {
              "value": "icon-truck",
              "label": "Truck"
            },
            {
              "value": "icon-virus",
              "label": "Virus"
            },
            {
              "value": "icon-wave",
              "label": "Wave"
            }
          ],
          "default": "icon-store"
        }
      ]
    }
  ]
}
{% endschema %}
