{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }};
    --padding-bottom: {{ section.settings.padding_bottom }};

    {%- if settings.customers_custom_colors -%}
      --color-foreground: {{ settings.customers_color_foreground.red }}, {{ settings.customers_color_foreground.green }}, {{ settings.customers_color_foreground.blue }};
      --color-background: {{ settings.customers_color_background.red }}, {{ settings.customers_color_background.green }}, {{ settings.customers_color_background.blue }};
      --color-gradient: {% if settings.customers_color_gradient != blank %}{{ settings.customers_color_gradient }}{% else %}{{ settings.customers_color_background }}{% endif %};
    {%- endif -%}
  }
{%- endstyle -%}

{%- if settings.customers_layout != 'full' -%}
  {%- if settings.customers_layout == 'fixed-soft' -%}<div class="color-soft-background">{% endif %}
  <div class="section-vertical-spacer container container--capped">
{%- endif -%}

<div class="section-span-height-wrapper section {% unless settings.customers_color_scheme == 'default' and settings.customers_layout == 'fixed' and settings.customers_custom_colors == false %}block{% endunless %} {% if settings.customers_custom_colors %}color-custom{% else %}color color-{{ settings.customers_color_scheme }}{% endif %} color-gradient {% if settings.customers_layout != 'full' %}border-radius{% endif %}">
  <div class="container {% if settings.customers_layout == 'full' %}section-vertical-spacer{% else %}vertical-spacer{% endif %}">
    <div class="section-form">
      <h1 id="Recover" class="h2 text-center" tabindex="-1">
        {{ 'customer.recover_password.title' | t -}}
        <br>
        <span class="caption">
          {{ 'customer.recover_password.subtext' | t -}}
        </span>
      </h1>

      <div class="section-form">
        {%- form 'recover_customer_password', class: 'customers-form' -%}
          {% assign recover_success = form.posted_successfully? %}

          {%- if form.errors -%}
            <small id="RecoverEmail-email-error" class="form-message small-text">
              {% render 'icon' with 'red-exclamation' %}
              <span>{{ form.errors.messages['form'] }}</span>
            </small>
          {%- endif -%}

          <div class="input-group">
            <input
              is="loess-input-field"
              id="RecoverEmail"
              type="email"
              name="email"
              class="input__field"
              value=""
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
                autofocus
              {% endif %}
              required
            >

            <label for="RecoverEmail" class="input__label">
              {{ 'customer.login_page.email' | t -}}
            </label>
          </div>

          <button class="button button--primary">
            {{ 'customer.login_page.submit' | t -}}
          </button>

          <a href="#Login" class="button button--plain">
            {{ 'customer.login_page.cancel' | t -}}
          </a>
        {%- endform -%}
      </div>

      <h1 id="Login" class="h2 text-center" tabindex="-1">
        {{ 'customer.log_in' | t -}}
      </h1>

      <div class="section-form">
        {%- form 'customer_login', novalidate: 'novalidate', class: 'customers-form' -%}
          {%- if recover_success == true -%}
            <h3 class="form-message small-text" tabindex="-1" autofocus>
              {% render 'icon' with 'green-check' %}
              <span>{{ 'customer.recover_password.success' | t -}}</span>
            </h3>
          {%- endif -%}

          {%- if form.errors -%}
            <small id="RecoverEmail-email-error" class="form-message small-text" autofocus>
              {% render 'icon' with 'red-exclamation' %}
              <span>{{ form.errors | default_errors }}</span>
            </small>
          {%- endif -%}

          <div class="input-group">
            <input
              is="loess-input-field"
              id="CustomerEmail"
              type="email"
              name="customer[email]"
              class="input__field"
              value=""
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              required
            >

            <label for="CustomerEmail" class="input__label">
              {{ 'customer.register.email' | t -}}
            </label>
          </div>

          {%- if form.password_needed -%}
            <div class="input-group">
              <input
                is="loess-input-field"
                id="CustomerPassword"
                type="password"
                name="customer[password]"
                class="input__field"
                value=""
                autocorrect="off"
                autocapitalize="off"
                autocomplete="current-password"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                required
              >

              <label for="CustomerPassword" class="input__label">
                {{ 'customer.register.password' | t -}}
              </label>
            </div>

            <a href="#Recover" class="small-caption">
              {{ 'customer.login_page.forgot_password' | t -}}
            </a>
          {%- endif -%}

          <button class="button button--primary">
            {{ 'customer.login_page.sign_in' | t -}}
          </button>

          <a href="{{ routes.account_register_url }}" class="button button--plain">
            {{ 'customer.login_page.create_account' | t -}}
          </a>
        {%- endform -%}
      </div>

      {%- if shop.checkout.guest_login -%}
        <div class="section-form">
          <h2>{{ 'customer.login_page.guest_title' | t -}}</h2>

          {%- form 'guest_login' -%}
            <button class="button button--secondary">
              {{ 'customer.login_page.guest_continue' | t -}}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{%- if settings.customers_layout != 'full' -%}
  </div>
  {%- if settings.customers_layout == 'fixed-soft' -%}</div>{% endif %}
{%- endif -%}

{% schema %}
{
  "name": "Login",
  "tag": "section",
  "class": "shopify-section--span-height",
  "settings": [
    {
      "type": "paragraph",
      "content": "For additional settings, navigate to the “Customers” tab in the theme settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding top",
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding bottom",
      "default": 1
    }
  ]
}
{% endschema %}
