{%- liquid
  if section.settings.color_scheme == 'default-with-accent-1' and section.settings.layout == 'fixed' and section.settings.custom_colors == false
    assign border = true
  endif
-%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    --padding-top: {{ section.settings.padding_top }};
    --padding-bottom: {{ section.settings.padding_bottom }};

    {%- if section.settings.custom_colors -%}
      --color-foreground: {{ section.settings.color_foreground.red }}, {{ section.settings.color_foreground.green }}, {{ section.settings.color_foreground.blue }};
      --color-accent: {{ section.settings.color_accent.red }}, {{ section.settings.color_accent.green }}, {{ section.settings.color_accent.blue }};
      --color-background: {{ section.settings.color_background.red }}, {{ section.settings.color_background.green }}, {{ section.settings.color_background.blue }};
      --color-gradient: {% if section.settings.color_gradient != blank %}{{ section.settings.color_gradient }}{% else %}{{ section.settings.color_background }}{% endif %};
    {%- endif -%}
  }
{%- endstyle -%}

{%- if section.settings.layout != 'full' -%}
  {%- if section.settings.layout == 'fixed-soft' -%}<div class="color-soft-background">{% endif %}
  <div class="section-vertical-spacer container container--capped">
{%- endif -%}

  <div class="section {% unless border %}block{% endunless %} {% if section.settings.custom_colors %}color-custom color-gradient{% else %}color color-{{ section.settings.color_scheme }} color-gradient{% else %}color-soft-background{% endif %} {% if section.settings.layout != 'full' %}border-radius{% endif %}">
    <div class="{% if section.settings.layout == 'full' %}section-vertical-spacer{% else %}vertical-spacer{% endif %} container">
      {%- if section.settings.page.title != blank and section.settings.show_heading -%}
        <div class="page-heading text-center">
          <h1>
            {{ section.settings.page.title | escape }}
          </h1>
        </div>
      {%- endif -%}

      {%- if section.settings.page.content != blank -%}
        <div class="page-content page-content--{{ section.settings.width }} rte">
          {{ section.settings.page.content }}
        </div>
      {%- else -%}
        <p class="text-center">
          {{ 'sections.page.update_page_setting' | t }}
        </p>
      {%- endif -%}
    </div>
  </div>

{%- if section.settings.layout != 'full' -%}
  </div>
  {%- if section.settings.layout == 'fixed-soft' -%}</div>{% endif %}
{%- endif -%}

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "Page"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "fixed",
          "label": "Fixed width"
        },
        {
          "value": "fixed-soft",
          "label": "Fixed width with soft background"
        },
        {
          "value": "full",
          "label": "Full width"
        }
      ],
      "default": "full"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Content width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "info": "Only applies to devices with large screens"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding top",
      "default": 1
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 3,
      "step": 0.1,
      "unit": "x",
      "label": "Padding bottom",
      "default": 1
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show page title",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-with-accent-1",
          "label": "Default"
        },
        {
          "value": "inverse-with-accent-2",
          "label": "Inverse"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "accent-3",
          "label": "Accent 3"
        }
      ],
      "default": "default-with-accent-1"
    },
    {
      "type": "checkbox",
      "id": "custom_colors",
      "label": "Override with custom colors",
      "default": false
    },
    {
      "type": "color",
      "id": "color_foreground",
      "label": "Custom foreground color",
      "default": "#061C2F"
    },
    {
      "type": "color",
      "id": "color_accent",
      "label": "Custom accent color",
      "default": "#0D91BD"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Custom background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "color_gradient",
      "label": "Custom background gradient",
      "info": "Optional. Overrides “Custom background color”."
    }
  ],
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}
